

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-size: $fontsize-md;
    font-family: 'Public Sans',sans-serif;
    font-weight: 300;
    color: $grayishblue;
    
}

a, a:visited, a:hover {
    text-decoration: none;
}

.container {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    @include breakpoint-up(large) {
        padding-left: 8rem;
        padding-right: 8rem;
    }
}

// Flexbox Style

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-ai-c {
        align-items: center;
    }
}


// CTA Button Style

.button {
    padding: .875rem 2.1875rem;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(to right, $limegreen, $brightcyan);
    font-weight: 400;
    display: inline-block;
}

// Visibility 

.hide-for-mobile {

    @include breakpoint-down(medium) {
        display: none;
    }

}


.hide-for-desktop {
    
    @include breakpoint-up(large) {
        display: none;
    }
}

